@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --dark: rgb(51, 51, 51);
    --bs-primary: rgb(56, 132, 255);
    --box-shadow: 4px 5px 11px rgba(56, 132, 255, 0.4);
}
