@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --dark: rgb(51, 51, 51);
    --azul: rgb(56, 132, 255);
    --box-shadow: 4px 5px 11px rgba(56, 132, 255, 0.4);
}

/* background: linear-gradient( to bottom, white 50%, transparent); */

* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body{
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    background-image: url(./assets/download.png);
    background-size: 100% auto;
}

/* header{
    position: sticky;   
    top: 0; 
    z-index: 999px;
} */

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: rgba(240, 248, 255, 0.041);
}

.navbar-imagem{
    height: 30px;
}

.navbar-conteudo{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    color: var(--dark);
}

.btn-navbar{
    background: var(--azul);
    width: 130px;
    height: 35px;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
}

.conteudo {
    margin-bottom: 50px;
   /* padding: 0px 180px; */
}

.conteudo-um{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 70px 180px;
    justify-content: space-around;
    margin-bottom: 30px;
}

.conteudo-um-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-right: 100px;
}

.conteudo-um-texto h1{
    font-size: 2.5rem;
} /* Título do main */ 

.conteudo-um-texto p{
    font-size: 1.6rem;
} /* Subtítulo do main */ 

.btn-conteudo-um{
    background: var(--azul);
    width: 180px;
    height: 50px;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: white;

}

.img-conteudo-um {
    height: 360px;
}

.principais-recursos{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 40px 0px;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    gap: 8px;
}

.principais-recursos h1{
    font-size: 30px;
}

.subtitulo-desc{
    /* margin-top: -10px; */
    font-size: 18px;
}

.pricipais-recursos-elementos{    /* Carousel */
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 60px 30px;
    padding: 35px 0px;
}

.carousel__items{
    display: flex;
    animation: carousel 60s linear infinite;
}

.carousel__card{
    display: flex;
    object-fit: cover;
    background-color: white;
    /* new */
    flex-direction: column;
    margin: 0px 15px;
    align-items: center;
    width: 222px;
    height: auto;
    border-radius: 20px;
    box-shadow: 4px 5px 11px rgba(83, 83, 83, 0.384);
    padding: 35px;

}
@keyframes carousel{
    100%{
        transform: translateX(-2560px);
    }
}

.pricipais-recursos-elementos p{
    text-align: center;
}

.p-r-e-icon{
    padding: 18px;
    border-radius: 50px;
    text-align: center;
    background-color: var(--azul);
    color: white;
    box-shadow: var(--box-shadow);
    
}

.p-r-e-titulo{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 20px 30px;
}

.p-r-e-desc{
    font-size: 14px;
}

.main-tres{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: -50px;
    background-color: rgba(255, 255, 255, 0.452);
}

.conteudo-tres{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.img-conteudo-tres{
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.055);
}

.img-conteudo-tres:hover{
    border: 10px solid rgba(39, 78, 255, 0.055);
    transition: 200ms linear;
}

.btn-conteudo-tres{
    background: var(--azul);
    width: 230px;
    height: 40px;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
}

.painel-metricas h1{
    padding: 2%;
    color: white;
}

.painel-metricas{
    background-image: url(./assets/Frame.svg);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15%;
}

.container-metricas{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 5%;
}
.cont-conteiner{
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
}

.cont-conteiner p{
    padding: 10px 0;
    width: 70%;
}

.items-cont-conteiner{
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
    padding: 0% 0; 
    justify-content: space-between ;
}

.items-cont-conteiner span{
    padding-right: 70px;
    padding-top: 30px;
}

.items-cont-conteiner img{
    border: 1px solid rgba(0, 0, 0, 0.055);
    border-radius: 10px;
    box-shadow: 4px 5px 11px rgba(0, 0, 0, 0.171);;
}

.icons-cont-container{
    color: var(--azul);
    padding-top: 30px;
}

.main-quatro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-quatro{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 6%;
    margin: 0 9%;
    justify-content: space-around;
    border-radius: 15px;
    background: linear-gradient(136deg, #010206 0%, #14265A 60.83%, #1D3884 100%);
}

.lojas-apps{
    display: flex;
    gap: 20px;
    padding-top: 4%;
    cursor: pointer;
}

.texto-conteudo-quatro{
    padding: 3% 0;
}

.img-celular{
    margin-top: 15%;
}

.texto-conteudo-quatro h1{
    background: linear-gradient(116deg, #00E5F7 0.67%, #1E95FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3%;
    font-size: 26px;
}

.texto-conteudo-quatro p{
    color: white;
    padding-right: 40%;
}








footer{
    display: flex;
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    height: 200px;
}